*.png
*.pdf
*.root
*.err
*.out
*.swp
*.slcio
*.log

# Compiled Python files
*.py[cod]

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# emacs and vim stubs
*[#~]

# specific directories

ANALYSIS/users/mgraham/SVTHitEfficiency/*XML*/*
ANALYSIS/users/mgraham/SVTHitEfficiency/SVTHitEfficiencyData/*
ANALYSIS/users/mgraham/SVTHitEfficiency/MCV0Skims/*
ANALYSIS/users/mgraham/SVTHitEfficiency/MCV0DSTs/*
ANALYSIS/users/mgraham/SVTHitEfficiency/MCHitKilling/*
ANALYSIS/users/mgraham/SVTHitEfficiency/**/*.txt
ANALYSIS/users/mgraham/SVTHitEfficiency/*.jar
ANALYSIS/users/mgraham/SVTHitEfficiency/OutputHistograms/*
ANALYSIS/users/mgraham/TrackEfficiency/MCXMLDIR/*

