
# Compiled Sources 
bin/
.obj/
*.o
*.so

# Build Directory 
build/

# LCIO and ROOT files  
*.lcio
*.slcio
*.root

# Temp files 
*~
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# Eclipse project description file 
.project

# Pydev project file
.pydevproject

# Sandbox directory
sandbox/

# pdf
*.pdf
